* {
  padding: 0;
  margin: 0;
}
footer {
  background-color: #1a1a1a;
  height: 100px;
  width: 100%;
  display: flex;
  font-size: 30px;
  color: #ae934b;
  align-items: center;
  justify-content: center;
}
header {
  background-color: #1a1a1a;
  height: 100px;
  width: 100%;
  display: flex;
  font-size: 30px;
  color: #ae934b;

  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
}
.title {
  /* display: flex; */
}
.logo {
  border-radius: 100%;
  width: 120px;
  height: 120px;
}
body {
  background-color: #ae934b;
}
#selectHouse {
  /* padding-right: 20px; */
  margin-right: 20px;
}
.imgclass {
  width: 100%;
  height: 1000px;
  background-size: cover;
}

@media (max-width: 650px) {
  .CardContaier {
    /* width: 100%; */
    /* font-size: 12px; */
    margin: 5px;
    /* display: flex;
    flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ae934b;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-bottom: 10px;
  }

  .card {
    border: 1px solid black;
    width: 80%;
    border-radius: 20px;
    background-color: #2e2e2e;
    border: 2px solid #5d473a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #f0ead6;
    transition: transform 0.3s ease;
  }
}

.card {
  border: 1px solid black;
  width: 300px;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  background-color: #2e2e2e;
  border: 2px solid #5d473a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #f0ead6;
  transition: transform 0.3s ease;
}
.CardContaier {
  padding: 10px -10px 10px 10px;
  /* margin: 0px 0px 0px 0px; */
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  background-color: #ae934b;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.imgcard {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
.cardContant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@font-face {
  font-family: "HarryP";
  src: url("../assest/harry_p/HARRYP__.TTF") format("truetype");
}
.cardContant,
header,
footer {
  font-family: "HarryP";
}
.cardContant {
  font-size: 33px;
}

.card:hover {
  transform: scale(1.1);
}
